<!-- <input type="hidden" id="fontSize" value="<%=config.fontSize%>"> -->
<div class="card">
  <div class="card-header text-center"><h3>Detalhes do Pedido</h3></div>
  <div class="card-body card-block">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home">Pedido</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu1">Cliente</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu2">Ítems</a>
      </li>

    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

      <div class="tab-pane container active" id="home">

        <div class="card">

          <div class="card-header">
            <div class="text-center">
              <h4>Código do Pedido: <%=order.id%></h4>
            </div>
          </div>

          <div class="card-body">
            <!-- <p>Informações Principais</p> -->
            <table class="table table-bordered table-hover">
              <tr>
                <td>Data/Hora do Pedido</td>
                <td><%=order._datetime.toLocaleString('br')%></td>
              </tr>
              <tr>
                <td>Status do Pedido</td>
                <td>
                  <% if(order.status == 0) { %>
                  <div class="no-fulfilled">Em Andamento</div>
                  <% } else { %>
                    <div class="fulfilled">Encerrado</div>
                  <% } %>
                </td>
              </tr>
            </table>
            <!-- <p>Informações de Entrega</p> -->
            <hr>
            <table class="table table-bordered table-hover" id="deliveryAddres">  
              <tr>
                <td>Cod. Pedido</td>
                <td id="orderId"><%=order.id%></td>
              </tr>
              <tr>
                <td>Cliente</td>
                <td id="clientName"><%=order.clienteName%></td>
              </tr> 
              <tr>
                <td>Método de Pagamento</td>
                <td id="paymentMethod"><%=order.paymentMethod%></td>
              </tr>    
              
              <tr>
                <td>Total</td>
                <td id="total"><%=order.total.toLocaleString('pt-br', {style: 'currency', currency: 'BRL'})%></td>
              </tr>
              <tr>
                <td>Taxa de Entrega</td>
                <td id='delivery_fee'><%=client.delivery_fee.toLocaleString('pt-br', {style: 'currency', currency: 'BRL'})%></td>
              </tr>
              
              <tr>
                <td>Logradouro</td>
                <td id="publicPlace"><%=order.street%></td>
              </tr>
              <tr>
                <td>Número</td>
                <td id="_number"><%=order._number%></td>
              </tr>
              <tr>
                <td>Bairro</td>
                <td id="neighborhood"><%=order.neighborhood%></td>
              </tr>             
            </table>

          </div>

          <div class="card-footer">
            <div class="row">
              <div class="col-sm-3 d-none d-md-block">
                <button class="form-control btn btn-info">
                  Tests</button>
              </div>
            </div>
          </div>

        </div>

      </div> <!--End Tab-->

    </div>

  </div>
</div>